@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

@import url(responsive.css);
:root {
    --primary-font-family: 'Poppins', sans-serif;
    --icon-font-family: 'Winky Sans', sans-serif;
    --black-color: #000;
    --blue-color: #020b47;
    --red-background-color: #a90028;
    --red-color: #DC0032;
    --color-white: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font-family)
}

html {
    scroll-behavior: smooth
}

/* ESTILOS GERAIS */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ESTILOS DO HEADER */


#cabecalho {
    position: sticky;
    top: 0;
}
.cabecalho_container {
    padding: 15px;
    background-color: var(--blue-color);
}

.nav_container {
    gap: 28px;
    list-style-type: none;
}

.nav_links {
    text-decoration: none;
    color: var(--color-white);
    font-size: 18px;
    text-transform: uppercase;
}

/* ESTILOS DO INÍCIO */


h1 {
    font-family: var(--icon-font-family);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 30px;
    color: var(--red-color);
}

.perfil {
    width: 300px;
    border-radius: 50%;
}

.test {
    padding: 20px;
    gap: 20px;
    background-color: var(--red-background-color);
    border-radius: 10px;
}

.perfil_text {
    width: 650px;
    font-size: 20px;
    color: var(--color-white);
}

/* ESTILOS SOBRE */

.about_container {
    flex-direction: column;
    padding: 20px;
    background-color: var(--blue-color);
    border-radius: 10px;
}

h2 {
    text-transform: uppercase;
    color: var(--red-color);
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: var(--icon-font-family);
    font-weight: bold;
    text-align: center;
}

.p_about {
    color: var(--color-white);
    font-size: 19px;
}

.contact {
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--red-background-color);
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

/* ESTILOS FEEDBACK */

h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: var(--red-color);
    margin-top: 100px;
    margin-bottom: 30px;
    font-family: var(--icon-font-family);
    margin-top: 100px;
}

.card_feedback {
    gap: 50px;
}

.card_img {
    width: 450px;
}

/* ESTILOS PLANOS */

.planos_container {
    gap: 20px;
}

.planos {
    background-color: var(--blue-color);
    padding: 20px;
    width: 500px;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 20px;
}

h4 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: var(--red-color);
    margin-top: 100px;
    margin-bottom: 30px;
    font-family: var(--icon-font-family);
    font-weight: bold;
}

h5 {
  color:var(--color-white);
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.planos_text {
    color: var(--color-white);
    margin-top: 10px;
}

.payment {
    margin: 0 auto;
    height: 250px;
}
 
.payment_text {
    color: var(--color-white);
}

/* ESTILOS RODAPÉ */

.footer {
    background-color: var(--red-background-color);
    text-align: center;
    padding: 5px;
    margin-top: 30px;
}

.copyright {
    font-size: 18px;
    color: var(--color-white);
}

/* ESTILOS RESPONSIVOS */

@media (max-width: 768px) {

     /* ESTILO INÍCIO */

    #cabecalho {
        display: none;
    }

    h1 {
        font-size: 25px;
        margin-top: 30px;
    }

    .test {
        flex-direction: column;
    }

    .perfil {
        border-radius: 10%;
    }

    .perfil_text {
        max-width: 300px;
        text-align: center;
    }

    /* ESTILO SOBRE */

    h2, h3, h4, h5{
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .p_about {
        text-align: center;
    }

    /* ESTILOS DO FEEDBACK */

    .card_feedback {
        flex-direction: column;
        gap: 10px;
    }

    .card_img {
        width: 350px;
    }

    /* ESTILOS PACOTE */

    .planos_container {
        flex-direction: column;
        gap: 10px;
    }

    .planos {
        width: 300px;
        height: 340px;
    }

    .planos_text {
        text-align: center;
    }

    .payment {
        height: 350px;
    }
}

@media (min-width: 770px) {

    h1,h2, h3, h4, h5{
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    /* ESTILO INÍCIO */

    .test {
        padding: 20px 70px;
    }

    .perfil_text {
        max-width: 600px;
        font-size: 22px;
    }

    /* ESTILO SOBRE */

    .p_about {
        font-size: 22px;
    }

    .contact {
        font-size: 22px;
    }

    /* ESTILO FEEDBACK */

    .card_feedback {
        flex-direction: column;
        gap: 10px;
    }

    /* ESTILOS PLANOS */

    .planos_container {
        flex-direction: column;
        gap: 10px;
    }

    .planos {
        width: 700px;
        height: 340px;
    }

    .planos_text, .payment_text {
        font-size: 25px;
    }

    .payment {
        height: 380px;
    }

    /* ESTILOS RODAPÉ */

    .copyright {
        font-size: 20px;
    }
}